@font-face{
    font-family:"MazzardBold";
    src:url("../fonts/Mazzard/MazzardH-Bold.otf") format("woff"),
    url("../fonts/Mazzard/MazzardH-Bold.otf") format("opentype"),
    url("../fonts/Mazzard/MazzardH-Bold.otf") format("truetype");
}

@font-face{
    font-family:"MazzardBoldItalic";
    src:url("../fonts/Mazzard/MazzardH-BoldItalic.otf") format("woff"),
    url("../fonts/Mazzard/MazzardH-BoldItalic.otf") format("opentype"),
    url("../fonts/Mazzard/MazzardH-BoldItalic.otf") format("truetype");
}

@font-face{
    font-family:"MazzardLight";
    src:url("../fonts/Mazzard/MazzardH-ExtraLight.otf") format("woff"),
    url("../fonts/Mazzard/MazzardH-ExtraLight.otf") format("opentype"),
    url("../fonts/Mazzard/MazzardH-ExtraLight.otf") format("truetype");
}
