.highlight {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/engenharia.jpg");
    padding-top: 67px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    h1, p {
        color: #ffffff;
        margin: 15px 0;
    }
}



#solicite {
    h2 {
        margin-bottom: 15px;
    }
    padding-top: 100px;

}
#sobre {
    padding-top: 100px;

    h2 {
        margin-bottom: 15px;
    }

    @media only screen and (max-width: 576px) {
        img {
            margin-top: 20px;
            border-radius: 10px;
        }
    }
}
#oque {
    h2 {
        margin-bottom: 15px;
    }
    padding-top: 100px;

    @media only screen and (max-width: 576px) {
        .row {
            flex-direction: column-reverse;
        }
        img {
            margin-top: 20px;
            border-radius: 10px;
        }
    }

}
#vantagens {
    h2 {
        margin-bottom: 15px;
    }
    padding-top: 100px;
}
#obras {
    h2 {
        margin-bottom: 15px;
    }
    padding-top: 100px;
    .card {
        .card-img-top {
            height: 400px;
            object-fit: cover;
        }
    }
    .slick-dots {
        bottom: -80px;
    }
}
#servicos {
    h2 {
        margin-bottom: 15px;
    }
    padding-top: 100px;
    .figure-servico {
        width: 150px;
        margin: auto;
        height: 150px;
        display: flex;
        align-items: center;

        img {
            max-width: 150px;
            width: 100%;
        }


    }
}
#produto {
    h2 {
        margin-bottom: 15px;
    }
    padding-top: 100px;
    .item-product {
        h3, p {
            text-align: center;
        }
    }

    .card {
        box-shadow: 2px 3px 10px 1px rgb(0 0 0 / 15%);

        .card-img-top {
            max-width: 300px;
            height: 290px;
            object-fit: contain;
        }
    }
    @media only screen and (max-width: 576px) {
        .card-img-top {
            margin: auto;
        }
    }
}
#financiamentos {
    h2 {
        margin-bottom: 15px;
    }
    padding-top: 100px;

    .figure-financ {
        width: 180px;
        img {
            width: 100%;
        }
    }
}
#contato {
    h2 {
        margin-bottom: 15px;
    }
    form {
        padding: 20px;
        box-shadow: 2px 3px 10px 1px rgb(0 0 0 / 15%);
        border-radius: 10px;
    }
    @media only screen and (max-width: 576px) {
        padding-top: 100px;
    }
}


.slick-carousel {
    width: 100%;
}

.slick-slider {
    .slick-next::before, .slick-prev::before {
        color: #ca6033;
        font-family: 'MazzardLight';
        font-size: 80px;
        
    }

    .slick-next::before {
        content: '›';
    }

    .slick-prev::before {
        content: '‹';
    }

    .slick-dots {
        li.slick-active {
            color: #ca6033!important;
            font-size: 15px;
        }

        button:before {
            color: #ca6033!important;
            font-size: 15px;
        }

        li button:before {
            font-size: 15px!important;
        }
    }
}


@media only screen and (max-width: 576px) {
    #solicite,
    #sobre,
    #oque,
    #vantagens,
    #obras,
    #servicos,
    #produto,
    #financiamentos,
    #contato {
        //padding-top: calc(100px / 2);
    }
    .slick-next::before, .slick-prev::before {
        display: none;
    }
    .slick-next {
        display: none!important;
    }
}
