html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: none;
}
input, button, textarea{
    outline: none;
    border: none;
    background: none;
}
section, div, aside, footer, article, header,
menu, nav{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
}
button, a{
    cursor: pointer;
}
button{
    &::-moz-focus-inner {
        border: 0;
    }
}
a{
    outline: none;
    text-decoration: none;
}

.clear {
    clear: both;
}
.clearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

button,
select,
input,
textarea,
option,
a {
    outline: 0;

    &:hover,
    &:active,
    &:link,
    &:visited,
    &:focus {
        outline: 0;
    }
    &:-moz-focusring {
        color: transparent !important;
        text-shadow: 0 0 0 #000 !important;
    }
    &::-moz-focus-inner {
        border: 0;
    }
}

.error {
    color: #a94442;
    font-size: 12px;
    margin-top: 5px;
}

.form-register {
    .form-control {
        border-radius: 4px;
        margin-bottom: 5px;
    }
}

#success_message{ display: none;}

body {
    margin: 0;
    font-family: "MazzardLight";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    //background-image: url("../../assets/images/energia-solar-sol-1.jpg");
}

h1, h2, h3, h4, h5 {
    font-family: "MazzardBold";
}
